h1{
color: rgb(249, 248, 248);
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;
font-size: 250%;
   
}

li{
    font-size: large;
    list-style: 1;
    background-color: yellow;
}
body{
    background-color: #000000;
}
input[type="checkbox"]:checked + label {
     
    text-decoration: line-through;
  }